<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     id="WebApp_ID" version="3.0">
    <display-name>JavaCMD for Web</display-name>
    <servlet>
        <servlet-name>ArquivoServlet</servlet-name>
        <servlet-class>edu.utfpr.if56e.exercicio1.controller.ArquivoServlet</servlet-class>
        <init-param>
            <param-name>frutas</param-name>
            <param-value>/frutas.txt</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>ArquivoServlet</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>
</web-app>
