body { margin: 0; padding: 0;}

h1:first-child { margin-top: 0}

.wrapper {
    width: 100%;
    max-width: 860px;
    position: relative;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #666;
}

.main {
    border-left: 1px solid black;
}

.header {
    width: 100%;
    height: 140px;
    max-width: 800px;
    background-color: blue;
    padding: 30px;
}

.main {
    min-height: 100px;
    padding: 15px;
    max-width: 830px;
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: red;
}

